dtd/module/ed-edit.mod

<!-- ...................................................................... -->
<!-- Markup Language for IETF RFC Additional vocabularies used in rfc2629.xslt : 'ed'
             Edit Module .................................................. -->
<!-- file: ed-edit.mod
     

     
     Copyright 2010 Wakaba <w@suika.fam.cx>, All Rights Reserved.
     
     Permission to use, copy, modify and distribute this DTD and its
     accompanying documentation for any purpose and without fee is hereby
     granted in perpetuity, provided that the above copyright notice and
     this paragraph appear in all copies.  The copyright holders make no
     representation about the suitability of the DTD for any purpose.
     
     It is provided "as is" without expressed or implied warranty.
     
     Revision: 2010-06-20T04:43:53+00:00 (Generated by mkdtds/1.7)
     
     This DTD module is identified by the SYSTEM identifier:
     
       SYSTEM "http://suika.fam.cx/gate/cvs/*checkout*/markup/rfc/dtd/module/ed-edit.mod"
     
     ...................................................................... -->

<!-- Edit

       del, ins, issue, item, replace, resolution
-->

<!-- del ............................................... -->

<!ENTITY % ed.del.element "INCLUDE">
<![%ed.del.element;[
<!ENTITY % ed.del.content "ANY">
<!ENTITY % ed.del.qname "del">
<!ENTITY % ed.del.tagmin.start "-">
<!ENTITY % ed.del.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % ed.del.tagmin "%ed.del.tagmin.start; %ed.del.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % ed.del.tagmin "">
<!ELEMENT %ed.del.qname; %ed.del.tagmin; %ed.del.content;>
<!-- end of ed.del.element -->]]>

<!ENTITY % ed.del.attlist "INCLUDE">
<![%ed.del.attlist;[
<!ATTLIST %ed.del.qname;
	%ed.entered-by.attrib.qname;	CDATA	#IMPLIED
	date-time	CDATA	#IMPLIED
	title	CDATA	#IMPLIED
	%ed.common.attrib;>
<!-- end of ed.del.attlist -->]]>

<!-- ins ............................................... -->

<!ENTITY % ed.ins.element "INCLUDE">
<![%ed.ins.element;[
<!ENTITY % ed.ins.content "ANY">
<!ENTITY % ed.ins.qname "ins">
<!ENTITY % ed.ins.tagmin.start "-">
<!ENTITY % ed.ins.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % ed.ins.tagmin "%ed.ins.tagmin.start; %ed.ins.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % ed.ins.tagmin "">
<!ELEMENT %ed.ins.qname; %ed.ins.tagmin; %ed.ins.content;>
<!-- end of ed.ins.element -->]]>

<!ENTITY % ed.ins.attlist "INCLUDE">
<![%ed.ins.attlist;[
<!ATTLIST %ed.ins.qname;
	%ed.entered-by.attrib.qname;	CDATA	#IMPLIED
	date-time	CDATA	#IMPLIED
	%ed.resolves.attrib.qname;	CDATA	#IMPLIED
	title	CDATA	#IMPLIED
	%ed.common.attrib;>
<!-- end of ed.ins.attlist -->]]>

<!-- replace ........................................... -->

<!ENTITY % ed.replace.element "INCLUDE">
<![%ed.replace.element;[
<!ENTITY % ed.replace.content "ANY">
<!ENTITY % ed.replace.qname "replace">
<!ENTITY % ed.replace.tagmin.start "-">
<!ENTITY % ed.replace.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % ed.replace.tagmin "%ed.replace.tagmin.start; %ed.replace.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % ed.replace.tagmin "">
<!ELEMENT %ed.replace.qname; %ed.replace.tagmin; %ed.replace.content;>
<!-- end of ed.replace.element -->]]>

<!ENTITY % ed.replace.attlist "INCLUDE">
<![%ed.replace.attlist;[
<!ATTLIST %ed.replace.qname;
	%ed.entered-by.attrib.qname;	CDATA	#IMPLIED
	date-time	CDATA	#IMPLIED
	%ed.resolves.attrib.qname;	CDATA	#IMPLIED
	title	CDATA	#IMPLIED
	%ed.common.attrib;>
<!-- end of ed.replace.attlist -->]]>

<!-- issue ............................................. -->

<!ENTITY % ed.issue.element "INCLUDE">
<![%ed.issue.element;[
<!ENTITY % ed.issue.content "(%ed.item.qname;*)">
<!ENTITY % ed.issue.qname "issue">
<!ENTITY % ed.issue.tagmin.start "-">
<!ENTITY % ed.issue.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % ed.issue.tagmin "%ed.issue.tagmin.start; %ed.issue.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % ed.issue.tagmin "">
<!ELEMENT %ed.issue.qname; %ed.issue.tagmin; %ed.issue.content;>
<!-- end of ed.issue.element -->]]>

<!ENTITY % ed.issue.attlist "INCLUDE">
<![%ed.issue.attlist;[
<!ATTLIST %ed.issue.qname;
	href	%URI.datatype;	#IMPLIED
	name	CDATA	#REQUIRED
	status	CDATA	#REQUIRED
	type	CDATA	#REQUIRED
	%ed.common.attrib;>
<!-- end of ed.issue.attlist -->]]>

<!-- item .............................................. -->

<!ENTITY % ed.item.element "INCLUDE">
<![%ed.item.element;[
<!ENTITY % ed.item.content "ANY">
<!ENTITY % ed.item.qname "item">
<!ENTITY % ed.item.tagmin.start "-">
<!ENTITY % ed.item.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % ed.item.tagmin "%ed.item.tagmin.start; %ed.item.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % ed.item.tagmin "">
<!ELEMENT %ed.item.qname; %ed.item.tagmin; %ed.item.content;>
<!-- end of ed.item.element -->]]>

<!ENTITY % ed.item.attlist "INCLUDE">
<![%ed.item.attlist;[
<!ATTLIST %ed.item.qname;
	entered-by	%ed.addr-spec.datatype;	#REQUIRED
	date	CDATA	#REQUIRED
	%ed.common.attrib;>
<!-- end of ed.item.attlist -->]]>

<!-- resolution ........................................ -->

<!ENTITY % ed.resolution.element "INCLUDE">
<![%ed.resolution.element;[
<!ENTITY % ed.resolution.content "ANY">
<!ENTITY % ed.resolution.qname "resolution">
<!ENTITY % ed.resolution.tagmin.start "-">
<!ENTITY % ed.resolution.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % ed.resolution.tagmin "%ed.resolution.tagmin.start; %ed.resolution.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % ed.resolution.tagmin "">
<!ELEMENT %ed.resolution.qname; %ed.resolution.tagmin; %ed.resolution.content;>
<!-- end of ed.resolution.element -->]]>

<!ENTITY % ed.resolution.attlist "INCLUDE">
<![%ed.resolution.attlist;[
<!ATTLIST %ed.resolution.qname;
	entered-by	%ed.addr-spec.datatype;	#REQUIRED
	date	CDATA	#REQUIRED
	%ed.common.attrib;>
<!-- end of ed.resolution.attlist -->]]>


<!-- end of ed-edit.mod -->
