dtd/module/rfc2629bis-metainfo.mod

<!-- ...................................................................... -->
<!-- Draft revision of RFC 2629 <http://xml.resource.org/authoring/draft-mrose-writing-rfcs.html>
             Metainformational Module ..................................... -->
<!-- file: rfc2629bis-metainfo.mod
     

     
     Copyright 2010 Wakaba <w@suika.fam.cx>, All Rights Reserved.
     
     Permission to use, copy, modify and distribute this DTD and its
     accompanying documentation for any purpose and without fee is hereby
     granted in perpetuity, provided that the above copyright notice and
     this paragraph appear in all copies.  The copyright holders make no
     representation about the suitability of the DTD for any purpose.
     
     It is provided "as is" without expressed or implied warranty.
     
     Revision: 2010-06-20T04:43:53+00:00 (Generated by mkdtds/1.7)
     
     This DTD module is identified by the SYSTEM identifier:
     
       SYSTEM "http://suika.fam.cx/gate/cvs/*checkout*/markup/rfc/dtd/module/rfc2629bis-metainfo.mod"
     
     ...................................................................... -->

<!-- Metainformational

       annotation, format
-->

<![%rfc2629bis.rfc2629.module;[
<!ENTITY % rfc2629bis.author.add.attlist "INCLUDE">
<![%rfc2629bis.author.add.attlist;[
<!ATTLIST %rfc2629.author.qname;
	%rfc2629bis.role.attrib.qname;	%rfc2629bis.role.datatype;	#IMPLIED>
<!-- end of rfc2629bis.author.add.attlist -->]]>

<!ENTITY % rfc2629bis.rfc.lang.attlist "INCLUDE">
<![%rfc2629bis.rfc.lang.attlist;[
<!ATTLIST %rfc2629.rfc.qname;
	%xml.lang.qname;	%LanguageCode.datatype;	"en">
<!-- end of rfc2629bis.rfc.lang.attlist -->]]>

<!ENTITY % rfc2629bis.date.revised.attlist "INCLUDE">
<![%rfc2629bis.date.revised.attlist;[
<!ATTLIST %rfc2629.date.qname;
	day	%rfc2629bis.DAY.datatype;	#IMPLIED
	month	%rfc2629bis.MONTH.datatype;	#IMPLIED
	year	%rfc2629bis.YEAR.datatype;	#REQUIRED>
<!-- end of rfc2629bis.date.revised.attlist -->]]>

<!-- end of rfc2629bis.rfc2629 -->]]>

<!-- format: An appendix section of the document ....... -->

<!ENTITY % rfc2629bis.format.element "INCLUDE">
<![%rfc2629bis.format.element;[
<!ENTITY % rfc2629bis.format.content "EMPTY">
<!ENTITY % rfc2629bis.format.qname "format">
<!ENTITY % rfc2629bis.format.tagmin.start "-">
<!ENTITY % rfc2629bis.format.tagmin.end "o">
<![%sgml.tag.minimizable;[
<!ENTITY % rfc2629bis.format.tagmin "%rfc2629bis.format.tagmin.start; %rfc2629bis.format.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % rfc2629bis.format.tagmin "">
<!ELEMENT %rfc2629bis.format.qname; %rfc2629bis.format.tagmin; %rfc2629bis.format.content;>
<!-- end of rfc2629bis.format.element -->]]>

<!ENTITY % rfc2629bis.format.attlist "INCLUDE">
<![%rfc2629bis.format.attlist;[
<!ATTLIST %rfc2629bis.format.qname;
	octets	%rfc2629.NUMBER.datatype;	#IMPLIED
	%rfc2629.target-uri.attrib;
	type	%rfc2629bis.format-type.datatype;	#REQUIRED
	%rfc2629bis.common.attrib;>
<!-- end of rfc2629bis.format.attlist -->]]>

<!-- annotation: Annotate a citation ................... -->

<!ENTITY % rfc2629bis.annotation.element "INCLUDE">
<![%rfc2629bis.annotation.element;[
<!ENTITY % rfc2629bis.annotation.content "(%Inline.mix;)*">
<!ENTITY % rfc2629bis.annotation.qname "annotation">
<!ENTITY % rfc2629bis.annotation.tagmin.start "-">
<!ENTITY % rfc2629bis.annotation.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % rfc2629bis.annotation.tagmin "%rfc2629bis.annotation.tagmin.start; %rfc2629bis.annotation.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % rfc2629bis.annotation.tagmin "">
<!ELEMENT %rfc2629bis.annotation.qname; %rfc2629bis.annotation.tagmin; %rfc2629bis.annotation.content;>
<!-- end of rfc2629bis.annotation.element -->]]>

<!ENTITY % rfc2629bis.annotation.attlist "INCLUDE">
<![%rfc2629bis.annotation.attlist;[
<!ATTLIST %rfc2629bis.annotation.qname;
	octets	%rfc2629.NUMBER.datatype;	#IMPLIED
	%rfc2629bis.common.attrib;>
<!-- end of rfc2629bis.annotation.attlist -->]]>


<!-- end of rfc2629bis-metainfo.mod -->
