dtd/module/rfc2629ja-blkstruct.mod

<!-- ...................................................................... -->
<!-- Japanese Translation Markup Framework for RFC 2629 Markups
             Block Structual Module ....................................... -->
<!-- file: rfc2629ja-blkstruct.mod
     
     This is an additional markup vocabulary to support RFC translations.
     
     Copyright 2010 Wakaba <w@suika.fam.cx>, All Rights Reserved.
     
     Permission to use, copy, modify and distribute this DTD and its
     accompanying documentation for any purpose and without fee is hereby
     granted in perpetuity, provided that the above copyright notice and
     this paragraph appear in all copies.  The copyright holders make no
     representation about the suitability of the DTD for any purpose.
     
     It is provided "as is" without expressed or implied warranty.
     
     Revision: 2010-06-20T04:43:53+00:00 (Generated by mkdtds/1.7)
     
     This DTD module is identified by the SYSTEM identifier:
     
       SYSTEM "http://suika.fam.cx/gate/cvs/*checkout*/markup/rfc/dtd/module/rfc2629ja-blkstruct.mod"
     
     ...................................................................... -->

<!-- Block Structual

       back, example, insert, note

     This module declares the element types and their attributes used
     to support block-level structural markup.
-->

<!-- example: Showing an example.
     Note that only inline level elements or only block level elements
     should be used for the content of an element.  -->

<!ENTITY % rfc2629ja.example.element "INCLUDE">
<![%rfc2629ja.example.element;[
<!ENTITY % rfc2629ja.example.content "(%rfc2629.TEXT.datatype;|%Flow.mix;)*">
<!ENTITY % rfc2629ja.example.qname "example">
<!ENTITY % rfc2629ja.example.tagmin.start "-">
<!ENTITY % rfc2629ja.example.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % rfc2629ja.example.tagmin "%rfc2629ja.example.tagmin.start; %rfc2629ja.example.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % rfc2629ja.example.tagmin "">
<!ELEMENT %rfc2629ja.example.qname; %rfc2629ja.example.tagmin; %rfc2629ja.example.content;>
<!-- end of rfc2629ja.example.element -->]]>

<!ENTITY % rfc2629ja.example.attlist "INCLUDE">
<![%rfc2629ja.example.attlist;[
<!ATTLIST %rfc2629ja.example.qname;
	%rfc2629ja.common.attrib;>
<!-- end of rfc2629ja.example.attlist -->]]>

<!-- insert: Inserting point of a special section ...... -->

<!ENTITY % rfc2629ja.insert.element "INCLUDE">
<![%rfc2629ja.insert.element;[
<!ENTITY % rfc2629ja.insert.content "EMPTY">
<!ENTITY % rfc2629ja.insert.qname "insert">
<!ENTITY % rfc2629ja.insert.tagmin.start "-">
<!ENTITY % rfc2629ja.insert.tagmin.end "o">
<![%sgml.tag.minimizable;[
<!ENTITY % rfc2629ja.insert.tagmin "%rfc2629ja.insert.tagmin.start; %rfc2629ja.insert.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % rfc2629ja.insert.tagmin "">
<!ELEMENT %rfc2629ja.insert.qname; %rfc2629ja.insert.tagmin; %rfc2629ja.insert.content;>
<!-- end of rfc2629ja.insert.element -->]]>

<!ENTITY % rfc2629ja.insert.attlist "INCLUDE">
<![%rfc2629ja.insert.attlist;[
<!ATTLIST %rfc2629ja.insert.qname;
	section	(author-address|full-copyright|references|toc)	#REQUIRED
	%rfc2629ja.title-prefix.attrib.qname;	CDATA	#IMPLIED
	title-prefix	CDATA	#IMPLIED
	%rfc2629ja.common.attrib;>
<!-- end of rfc2629ja.insert.attlist -->]]>

<!-- note: Like h:ins, breaking block-inline structure,
     eg. rfc2629:t/ja:note/rfc2629:t is forbidden  -->

<!ENTITY % rfc2629ja.note.element "INCLUDE">
<![%rfc2629ja.note.element;[
<!ENTITY % rfc2629ja.note.content "(%rfc2629.TEXT.datatype;|%Flow.mix;)*">
<!ENTITY % rfc2629ja.note.qname "note">
<!ENTITY % rfc2629ja.note.tagmin.start "-">
<!ENTITY % rfc2629ja.note.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % rfc2629ja.note.tagmin "%rfc2629ja.note.tagmin.start; %rfc2629ja.note.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % rfc2629ja.note.tagmin "">
<!ELEMENT %rfc2629ja.note.qname; %rfc2629ja.note.tagmin; %rfc2629ja.note.content;>
<!-- end of rfc2629ja.note.element -->]]>

<!ENTITY % rfc2629ja.note.attlist "INCLUDE">
<![%rfc2629ja.note.attlist;[
<!ATTLIST %rfc2629ja.note.qname;
	%rfc2629ja.common.attrib;>
<!-- end of rfc2629ja.note.attlist -->]]>

<![%rfc2629ja.XHTML.module;[
<!-- html|ul[ja|list-item="none"] {list-style-item: none} -->
<!ENTITY % rfc2629ja.ul.list-item.attlist "INCLUDE">
<![%rfc2629ja.ul.list-item.attlist;[
<!ATTLIST %ul.qname;
	%rfc2629ja.list-item.attrib.qname;	(none)	#IMPLIED>
<!-- end of rfc2629ja.ul.list-item.attlist -->]]>

<!-- end of rfc2629ja.XHTML -->]]>

<!-- back: Translator's notes appendixes ............... -->

<!ENTITY % rfc2629ja.back.element "INCLUDE">
<![%rfc2629ja.back.element;[
<!ENTITY % rfc2629ja.back.content "(%rfc2629.section.qname;|%rfc2629ja.insert.qname;)+">
<!ENTITY % rfc2629ja.back.qname "back">
<!ENTITY % rfc2629ja.back.tagmin.start "-">
<!ENTITY % rfc2629ja.back.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % rfc2629ja.back.tagmin "%rfc2629ja.back.tagmin.start; %rfc2629ja.back.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % rfc2629ja.back.tagmin "">
<!ELEMENT %rfc2629ja.back.qname; %rfc2629ja.back.tagmin; %rfc2629ja.back.content;>
<!-- end of rfc2629ja.back.element -->]]>

<!ENTITY % rfc2629ja.back.attlist "INCLUDE">
<![%rfc2629ja.back.attlist;[
<!ATTLIST %rfc2629ja.back.qname;
	%rfc2629ja.common.attrib;>
<!-- end of rfc2629ja.back.attlist -->]]>

<!ENTITY % rfc2629ja.t.hangText.attlist "INCLUDE">
<![%rfc2629ja.t.hangText.attlist;[
<!ATTLIST %rfc2629.t.qname;
	%rfc2629ja.hangText-ja.attrib.qname;	CDATA	#IMPLIED>
<!-- end of rfc2629ja.t.hangText.attlist -->]]>


<!-- end of rfc2629ja-blkstruct.mod -->
