dtd/module/rfc2629-blkstruct.mod

<!-- ...................................................................... -->
<!-- Markup Language for IETF RFCs (RFC 2629) Block Structual Module ...... -->
<!-- file: rfc2629-blkstruct.mod
     
     This is a XML based markup language for IETF RFC documents.
     
     Copyright 2010 Wakaba <w@suika.fam.cx>, All Rights Reserved.
     
     Permission to use, copy, modify and distribute this DTD and its
     accompanying documentation for any purpose and without fee is hereby
     granted in perpetuity, provided that the above copyright notice and
     this paragraph appear in all copies.  The copyright holders make no
     representation about the suitability of the DTD for any purpose.
     
     It is provided "as is" without expressed or implied warranty.
     
     Revision: 2010-06-20T04:43:53+00:00 (Generated by mkdtds/1.7)
     
     This DTD module is identified by the SYSTEM identifier:
     
       SYSTEM "http://suika.fam.cx/gate/cvs/*checkout*/markup/rfc/dtd/2629/rfc2629-blkstruct.mod"
     
     ...................................................................... -->

<!-- Block Structual

       abstract, list, note, section, t, vspace

     This module declares the element types and their attributes used
     to support block-level structural markup.
-->

<!-- section: A section of the document ................ -->

<!ENTITY % rfc2629.section.element "INCLUDE">
<![%rfc2629.section.element;[
<!ENTITY % rfc2629.section.content "(%Block.mix;)*">
<!ENTITY % rfc2629.section.qname "section">
<!ENTITY % rfc2629.section.tagmin.start "-">
<!ENTITY % rfc2629.section.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % rfc2629.section.tagmin "%rfc2629.section.tagmin.start; %rfc2629.section.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % rfc2629.section.tagmin "">
<!ELEMENT %rfc2629.section.qname; %rfc2629.section.tagmin; %rfc2629.section.content;>
<!-- end of rfc2629.section.element -->]]>

<!ENTITY % rfc2629.section.attlist "INCLUDE">
<![%rfc2629.section.attlist;[
<!ATTLIST %rfc2629.section.qname;
	%rfc2629.anchor.attrib;
	%rfc2629.section-title.attrib;
	%rfc2629.common.attrib;>
<!-- end of rfc2629.section.attlist -->]]>

<!-- t ................................................. -->

<!ENTITY % rfc2629.t.element "INCLUDE">
<![%rfc2629.t.element;[
<!ENTITY % rfc2629.t.content "(%rfc2629.TEXT.datatype;|%rfc2629.list.class;|%Inline.mix;|%rfc2629.vspace.qname;%rfc2629.blockcontent.class;%rfc2629.t-figure.class;)*">
<!ENTITY % rfc2629.t.qname "t">
<!ENTITY % rfc2629.t.tagmin.start "-">
<!ENTITY % rfc2629.t.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % rfc2629.t.tagmin "%rfc2629.t.tagmin.start; %rfc2629.t.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % rfc2629.t.tagmin "">
<!ELEMENT %rfc2629.t.qname; %rfc2629.t.tagmin; %rfc2629.t.content;>
<!-- end of rfc2629.t.element -->]]>

<!ENTITY % rfc2629.t.attlist "INCLUDE">
<![%rfc2629.t.attlist;[
<!ATTLIST %rfc2629.t.qname;
	hangText	%rfc2629.ATEXT.datatype;	#IMPLIED
	%rfc2629.common.attrib;>
<!-- end of rfc2629.t.attlist -->]]>

<!-- vspace ............................................ -->

<!ENTITY % rfc2629.vspace.element "INCLUDE">
<![%rfc2629.vspace.element;[
<!ENTITY % rfc2629.vspace.content "EMPTY">
<!ENTITY % rfc2629.vspace.qname "vspace">
<!ENTITY % rfc2629.vspace.tagmin.start "-">
<!ENTITY % rfc2629.vspace.tagmin.end "o">
<![%sgml.tag.minimizable;[
<!ENTITY % rfc2629.vspace.tagmin "%rfc2629.vspace.tagmin.start; %rfc2629.vspace.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % rfc2629.vspace.tagmin "">
<!ELEMENT %rfc2629.vspace.qname; %rfc2629.vspace.tagmin; %rfc2629.vspace.content;>
<!-- end of rfc2629.vspace.element -->]]>

<!ENTITY % rfc2629.vspace.attlist "INCLUDE">
<![%rfc2629.vspace.attlist;[
<!ATTLIST %rfc2629.vspace.qname;
	blankLines	%rfc2629.NUMBER.datatype;	"0"
	%rfc2629.common.attrib;>
<!-- end of rfc2629.vspace.attlist -->]]>

<!-- abstract .......................................... -->

<!ENTITY % rfc2629.abstract.element "INCLUDE">
<![%rfc2629.abstract.element;[
<!ENTITY % rfc2629.abstract.content "(%rfc2629.t.qname;)+">
<!ENTITY % rfc2629.abstract.qname "abstract">
<!ENTITY % rfc2629.abstract.tagmin.start "-">
<!ENTITY % rfc2629.abstract.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % rfc2629.abstract.tagmin "%rfc2629.abstract.tagmin.start; %rfc2629.abstract.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % rfc2629.abstract.tagmin "">
<!ELEMENT %rfc2629.abstract.qname; %rfc2629.abstract.tagmin; %rfc2629.abstract.content;>
<!-- end of rfc2629.abstract.element -->]]>

<!ENTITY % rfc2629.abstract.attlist "INCLUDE">
<![%rfc2629.abstract.attlist;[
<!ATTLIST %rfc2629.abstract.qname;
	%rfc2629.common.attrib;>
<!-- end of rfc2629.abstract.attlist -->]]>

<!-- note: In general, the note element contains text from the IESG  -->

<!ENTITY % rfc2629.note.element "INCLUDE">
<![%rfc2629.note.element;[
<!ENTITY % rfc2629.note.content "(%rfc2629.t.qname;)+">
<!ENTITY % rfc2629.note.qname "note">
<!ENTITY % rfc2629.note.tagmin.start "-">
<!ENTITY % rfc2629.note.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % rfc2629.note.tagmin "%rfc2629.note.tagmin.start; %rfc2629.note.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % rfc2629.note.tagmin "">
<!ELEMENT %rfc2629.note.qname; %rfc2629.note.tagmin; %rfc2629.note.content;>
<!-- end of rfc2629.note.element -->]]>

<!ENTITY % rfc2629.note.attlist "INCLUDE">
<![%rfc2629.note.attlist;[
<!ATTLIST %rfc2629.note.qname;
	title	%rfc2629.ATEXT.datatype;	#REQUIRED
	%rfc2629.common.attrib;>
<!-- end of rfc2629.note.attlist -->]]>

<!-- list .............................................. -->

<!ENTITY % rfc2629.list.element "INCLUDE">
<![%rfc2629.list.element;[
<!ENTITY % rfc2629.list.content "(%rfc2629.t.qname;)+">
<!ENTITY % rfc2629.list.qname "list">
<!ENTITY % rfc2629.list.tagmin.start "-">
<!ENTITY % rfc2629.list.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % rfc2629.list.tagmin "%rfc2629.list.tagmin.start; %rfc2629.list.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % rfc2629.list.tagmin "">
<!ELEMENT %rfc2629.list.qname; %rfc2629.list.tagmin; %rfc2629.list.content;>
<!-- end of rfc2629.list.element -->]]>

<!ENTITY % rfc2629.list.attlist "INCLUDE">
<![%rfc2629.list.attlist;[
<!ATTLIST %rfc2629.list.qname;
	style	%rfc2629.list-style.datatype;	#IMPLIED
	%rfc2629.common.attrib;>
<!-- end of rfc2629.list.attlist -->]]>


<!-- end of rfc2629-blkstruct.mod -->
