dtd/module/rfc2629ja-transtruct.mod

<!-- ...................................................................... -->
<!-- Japanese Translation Markup Framework for RFC 2629 Markups
             Translation Structural Module ................................ -->
<!-- file: rfc2629ja-transtruct.mod
     
     This is an additional markup vocabulary to support RFC translations.
     
     Copyright 2010 Wakaba <w@suika.fam.cx>, All Rights Reserved.
     
     Permission to use, copy, modify and distribute this DTD and its
     accompanying documentation for any purpose and without fee is hereby
     granted in perpetuity, provided that the above copyright notice and
     this paragraph appear in all copies.  The copyright holders make no
     representation about the suitability of the DTD for any purpose.
     
     It is provided "as is" without expressed or implied warranty.
     
     Revision: 2010-06-20T04:43:53+00:00 (Generated by mkdtds/1.7)
     
     This DTD module is identified by the SYSTEM identifier:
     
       SYSTEM "http://suika.fam.cx/gate/cvs/*checkout*/markup/rfc/dtd/module/rfc2629ja-transtruct.mod"
     
     ...................................................................... -->

<!-- Translation Structural

       l, pair, title, title-ja
-->

<!-- pair .............................................. -->

<!ENTITY % rfc2629ja.pair.element "INCLUDE">
<![%rfc2629ja.pair.element;[
<!ENTITY % rfc2629ja.pair.content "(%rfc2629ja.l.qname;)+">
<!ENTITY % rfc2629ja.pair.qname "pair">
<!ENTITY % rfc2629ja.pair.tagmin.start "-">
<!ENTITY % rfc2629ja.pair.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % rfc2629ja.pair.tagmin "%rfc2629ja.pair.tagmin.start; %rfc2629ja.pair.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % rfc2629ja.pair.tagmin "">
<!ELEMENT %rfc2629ja.pair.qname; %rfc2629ja.pair.tagmin; %rfc2629ja.pair.content;>
<!-- end of rfc2629ja.pair.element -->]]>

<!ENTITY % rfc2629ja.pair.attlist "INCLUDE">
<![%rfc2629ja.pair.attlist;[
<!ATTLIST %rfc2629ja.pair.qname;
	%rfc2629ja.common.attrib;>
<!-- end of rfc2629ja.pair.attlist -->]]>

<!-- l: can contain rfc2629[ja]:{artwork|{pre|post}amble} only
     when "rfc2629:figure/ja:pair/ja:l/rfc2629:*"  -->

<!ENTITY % rfc2629ja.l.element "INCLUDE">
<![%rfc2629ja.l.element;[
<!ENTITY % rfc2629ja.l.content "(%rfc2629.TEXT.datatype;|%Inline.mix;|%rfc2629.artwork.qname;|%rfc2629ja.artwork.qname;|%rfc2629.preamble.qname;|%rfc2629.postamble.qname;)*">
<!ENTITY % rfc2629ja.l.qname "l">
<!ENTITY % rfc2629ja.l.tagmin.start "-">
<!ENTITY % rfc2629ja.l.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % rfc2629ja.l.tagmin "%rfc2629ja.l.tagmin.start; %rfc2629ja.l.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % rfc2629ja.l.tagmin "">
<!ELEMENT %rfc2629ja.l.qname; %rfc2629ja.l.tagmin; %rfc2629ja.l.content;>
<!-- end of rfc2629ja.l.element -->]]>

<!ENTITY % rfc2629ja.l.attlist "INCLUDE">
<![%rfc2629ja.l.attlist;[
<!ATTLIST %rfc2629ja.l.qname;
	%rfc2629ja.common.attrib;>
<!-- end of rfc2629ja.l.attlist -->]]>

<!-- title: obsolete : use rfc2629:title[@xml:lang] instead  -->

<!ENTITY % rfc2629ja.title.element "INCLUDE">
<![%rfc2629ja.title.element;[
<!ENTITY % rfc2629ja.title.content "(%rfc2629.TEXT.datatype;|%Inline.mix;)*">
<!ENTITY % rfc2629ja.title.qname "title">
<!ENTITY % rfc2629ja.title.tagmin.start "-">
<!ENTITY % rfc2629ja.title.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % rfc2629ja.title.tagmin "%rfc2629ja.title.tagmin.start; %rfc2629ja.title.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % rfc2629ja.title.tagmin "">
<!ELEMENT %rfc2629ja.title.qname; %rfc2629ja.title.tagmin; %rfc2629ja.title.content;>
<!-- end of rfc2629ja.title.element -->]]>

<!ENTITY % rfc2629ja.title.attlist "INCLUDE">
<![%rfc2629ja.title.attlist;[
<!ATTLIST %rfc2629ja.title.qname;
	abbrev	CDATA	#IMPLIED
	%rfc2629ja.common.attrib;>
<!-- end of rfc2629ja.title.attlist -->]]>

<!-- title-ja: obsolete : use rfc2629:title[@xml:lang] instead  -->

<!ENTITY % rfc2629ja.title-ja.element "INCLUDE">
<![%rfc2629ja.title-ja.element;[
<!ENTITY % rfc2629ja.title-ja.content "(%rfc2629.TEXT.datatype;|%Inline.mix;)*">
<!ENTITY % rfc2629ja.title-ja.qname "title-ja">
<!ENTITY % rfc2629ja.title-ja.tagmin.start "-">
<!ENTITY % rfc2629ja.title-ja.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % rfc2629ja.title-ja.tagmin "%rfc2629ja.title-ja.tagmin.start; %rfc2629ja.title-ja.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % rfc2629ja.title-ja.tagmin "">
<!ELEMENT %rfc2629ja.title-ja.qname; %rfc2629ja.title-ja.tagmin; %rfc2629ja.title-ja.content;>
<!-- end of rfc2629ja.title-ja.element -->]]>

<!ENTITY % rfc2629ja.title-ja.attlist "INCLUDE">
<![%rfc2629ja.title-ja.attlist;[
<!ATTLIST %rfc2629ja.title-ja.qname;
	abbrev	CDATA	#IMPLIED
	%rfc2629ja.common.attrib;>
<!-- end of rfc2629ja.title-ja.attlist -->]]>

<!-- Translated title of the section -->
<!ENTITY % rfc2629ja.section.title.attlist "INCLUDE">
<![%rfc2629ja.section.title.attlist;[
<!ATTLIST %rfc2629.section.qname;
	%rfc2629ja.title-ja.attrib.qname;	CDATA	#IMPLIED>
<!-- end of rfc2629ja.section.title.attlist -->]]>


<!-- end of rfc2629ja-transtruct.mod -->
