dtd/module/rfc2629-reference.mod

<!-- ...................................................................... -->
<!-- Markup Language for IETF RFCs (RFC 2629) Reference Module ............ -->
<!-- file: rfc2629-reference.mod
     
     This is a XML based markup language for IETF RFC documents.
     
     Copyright 2010 Wakaba <w@suika.fam.cx>, All Rights Reserved.
     
     Permission to use, copy, modify and distribute this DTD and its
     accompanying documentation for any purpose and without fee is hereby
     granted in perpetuity, provided that the above copyright notice and
     this paragraph appear in all copies.  The copyright holders make no
     representation about the suitability of the DTD for any purpose.
     
     It is provided "as is" without expressed or implied warranty.
     
     Revision: 2010-06-20T04:43:53+00:00 (Generated by mkdtds/1.7)
     
     This DTD module is identified by the SYSTEM identifier:
     
       SYSTEM "http://suika.fam.cx/gate/cvs/*checkout*/markup/rfc/dtd/2629/rfc2629-reference.mod"
     
     ...................................................................... -->

<!-- Reference

       eref, iref, reference, references, xref

     This module provides markup to support referring or hyperlinking.
-->

<!-- references: The document's bibliography ........... -->

<!ENTITY % rfc2629.references.element "INCLUDE">
<![%rfc2629.references.element;[
<!ENTITY % rfc2629.references.content "(%rfc2629.reference.qname;+)">
<!ENTITY % rfc2629.references.qname "references">
<!ENTITY % rfc2629.references.tagmin.start "-">
<!ENTITY % rfc2629.references.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % rfc2629.references.tagmin "%rfc2629.references.tagmin.start; %rfc2629.references.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % rfc2629.references.tagmin "">
<!ELEMENT %rfc2629.references.qname; %rfc2629.references.tagmin; %rfc2629.references.content;>
<!-- end of rfc2629.references.element -->]]>

<!ENTITY % rfc2629.references.attlist "INCLUDE">
<![%rfc2629.references.attlist;[
<!ATTLIST %rfc2629.references.qname;
	%rfc2629.common.attrib;>
<!-- end of rfc2629.references.attlist -->]]>

<!-- reference ......................................... -->

<!ENTITY % rfc2629.reference.element "INCLUDE">
<![%rfc2629.reference.element;[
<!ENTITY % rfc2629.reference.content "(%rfc2629.front.qname;,%rfc2629.seriesInfo.qname;*)">
<!ENTITY % rfc2629.reference.qname "reference">
<!ENTITY % rfc2629.reference.tagmin.start "-">
<!ENTITY % rfc2629.reference.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % rfc2629.reference.tagmin "%rfc2629.reference.tagmin.start; %rfc2629.reference.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % rfc2629.reference.tagmin "">
<!ELEMENT %rfc2629.reference.qname; %rfc2629.reference.tagmin; %rfc2629.reference.content;>
<!-- end of rfc2629.reference.element -->]]>

<!ENTITY % rfc2629.reference.attlist "INCLUDE">
<![%rfc2629.reference.attlist;[
<!ATTLIST %rfc2629.reference.qname;
	%rfc2629.anchor.attrib;
	%rfc2629.target-uri.attrib;
	%rfc2629.common.attrib;>
<!-- end of rfc2629.reference.attlist -->]]>

<!-- xref: Cross-reference sections, figures, tables, and references  -->

<!ENTITY % rfc2629.xref.element "INCLUDE">
<![%rfc2629.xref.element;[
<!ENTITY % rfc2629.xref.content "(%rfc2629.CTEXT.datatype;)*">
<!ENTITY % rfc2629.xref.qname "xref">
<!ENTITY % rfc2629.xref.tagmin.start "-">
<!ENTITY % rfc2629.xref.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % rfc2629.xref.tagmin "%rfc2629.xref.tagmin.start; %rfc2629.xref.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % rfc2629.xref.tagmin "">
<!ELEMENT %rfc2629.xref.qname; %rfc2629.xref.tagmin; %rfc2629.xref.content;>
<!-- end of rfc2629.xref.element -->]]>

<!ENTITY % rfc2629.xref.attlist "INCLUDE">
<![%rfc2629.xref.attlist;[
<!ATTLIST %rfc2629.xref.qname;
	target	IDREF	#REQUIRED
	pageno	%rfc2629.truefalse.datatype;	"false"
	%rfc2629.common.attrib;>
<!-- end of rfc2629.xref.attlist -->]]>

<!-- eref: Reference external documents ................ -->

<!ENTITY % rfc2629.eref.element "INCLUDE">
<![%rfc2629.eref.element;[
<!ENTITY % rfc2629.eref.content "(%rfc2629.CTEXT.datatype;)*">
<!ENTITY % rfc2629.eref.qname "eref">
<!ENTITY % rfc2629.eref.tagmin.start "-">
<!ENTITY % rfc2629.eref.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % rfc2629.eref.tagmin "%rfc2629.eref.tagmin.start; %rfc2629.eref.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % rfc2629.eref.tagmin "">
<!ELEMENT %rfc2629.eref.qname; %rfc2629.eref.tagmin; %rfc2629.eref.content;>
<!-- end of rfc2629.eref.element -->]]>

<!ENTITY % rfc2629.eref.attlist "INCLUDE">
<![%rfc2629.eref.attlist;[
<!ATTLIST %rfc2629.eref.qname;
	target	%URI.datatype;	#REQUIRED
	%rfc2629.common.attrib;>
<!-- end of rfc2629.eref.attlist -->]]>

<!-- iref: Indexing of text ............................ -->

<!ENTITY % rfc2629.iref.element "INCLUDE">
<![%rfc2629.iref.element;[
<!ENTITY % rfc2629.iref.content "EMPTY">
<!ENTITY % rfc2629.iref.qname "iref">
<!ENTITY % rfc2629.iref.tagmin.start "-">
<!ENTITY % rfc2629.iref.tagmin.end "o">
<![%sgml.tag.minimizable;[
<!ENTITY % rfc2629.iref.tagmin "%rfc2629.iref.tagmin.start; %rfc2629.iref.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % rfc2629.iref.tagmin "">
<!ELEMENT %rfc2629.iref.qname; %rfc2629.iref.tagmin; %rfc2629.iref.content;>
<!-- end of rfc2629.iref.element -->]]>

<!ENTITY % rfc2629.iref.attlist "INCLUDE">
<![%rfc2629.iref.attlist;[
<!ATTLIST %rfc2629.iref.qname;
	item	%rfc2629.ATEXT.datatype;	#REQUIRED
	subitem	%rfc2629.ATEXT.datatype;	""
	%rfc2629.common.attrib;>
<!-- end of rfc2629.iref.attlist -->]]>


<!-- end of rfc2629-reference.mod -->
