dtd/module/rfc2629-figure.mod

<!-- ...................................................................... -->
<!-- Markup Language for IETF RFCs (RFC 2629) Figures Module .............. -->
<!-- file: rfc2629-figure.mod
     
     This is a XML based markup language for IETF RFC documents.
     
     Copyright 2010 Wakaba <w@suika.fam.cx>, All Rights Reserved.
     
     Permission to use, copy, modify and distribute this DTD and its
     accompanying documentation for any purpose and without fee is hereby
     granted in perpetuity, provided that the above copyright notice and
     this paragraph appear in all copies.  The copyright holders make no
     representation about the suitability of the DTD for any purpose.
     
     It is provided "as is" without expressed or implied warranty.
     
     Revision: 2010-06-20T04:43:53+00:00 (Generated by mkdtds/1.7)
     
     This DTD module is identified by the SYSTEM identifier:
     
       SYSTEM "http://suika.fam.cx/gate/cvs/*checkout*/markup/rfc/dtd/2629/rfc2629-figure.mod"
     
     ...................................................................... -->

<!-- Figures

       artwork, figure, postamble, preamble

     This module provides markup to support figure embedding.
-->

<!-- figure ............................................ -->

<!ENTITY % rfc2629.figure.element "INCLUDE">
<![%rfc2629.figure.element;[
<!ENTITY % rfc2629.figure.content "(%rfc2629.preamble.qname;?,%rfc2629.artwork.qname;,%rfc2629.postamble.qname;?)">
<!ENTITY % rfc2629.figure.qname "figure">
<!ENTITY % rfc2629.figure.tagmin.start "-">
<!ENTITY % rfc2629.figure.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % rfc2629.figure.tagmin "%rfc2629.figure.tagmin.start; %rfc2629.figure.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % rfc2629.figure.tagmin "">
<!ELEMENT %rfc2629.figure.qname; %rfc2629.figure.tagmin; %rfc2629.figure.content;>
<!-- end of rfc2629.figure.element -->]]>

<!ENTITY % rfc2629.figure.attlist "INCLUDE">
<![%rfc2629.figure.attlist;[
<!ATTLIST %rfc2629.figure.qname;
	%rfc2629.anchor.attrib;
	title	%rfc2629.ATEXT.datatype;	""
	%rfc2629.common.attrib;>
<!-- end of rfc2629.figure.attlist -->]]>

<!-- preamble .......................................... -->

<!ENTITY % rfc2629.preamble.element "INCLUDE">
<![%rfc2629.preamble.element;[
<!ENTITY % rfc2629.preamble.content "(%rfc2629.TEXT.datatype;|%Inline.mix;%rfc2629.blockcontent.class;)*">
<!ENTITY % rfc2629.preamble.qname "preamble">
<!ENTITY % rfc2629.preamble.tagmin.start "-">
<!ENTITY % rfc2629.preamble.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % rfc2629.preamble.tagmin "%rfc2629.preamble.tagmin.start; %rfc2629.preamble.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % rfc2629.preamble.tagmin "">
<!ELEMENT %rfc2629.preamble.qname; %rfc2629.preamble.tagmin; %rfc2629.preamble.content;>
<!-- end of rfc2629.preamble.element -->]]>

<!ENTITY % rfc2629.preamble.attlist "INCLUDE">
<![%rfc2629.preamble.attlist;[
<!ATTLIST %rfc2629.preamble.qname;
	%rfc2629.common.attrib;>
<!-- end of rfc2629.preamble.attlist -->]]>

<!-- postamble ......................................... -->

<!ENTITY % rfc2629.postamble.element "INCLUDE">
<![%rfc2629.postamble.element;[
<!ENTITY % rfc2629.postamble.content "(%rfc2629.TEXT.datatype;|%Inline.mix;%rfc2629.blockcontent.class;)*">
<!ENTITY % rfc2629.postamble.qname "postamble">
<!ENTITY % rfc2629.postamble.tagmin.start "-">
<!ENTITY % rfc2629.postamble.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % rfc2629.postamble.tagmin "%rfc2629.postamble.tagmin.start; %rfc2629.postamble.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % rfc2629.postamble.tagmin "">
<!ELEMENT %rfc2629.postamble.qname; %rfc2629.postamble.tagmin; %rfc2629.postamble.content;>
<!-- end of rfc2629.postamble.element -->]]>

<!ENTITY % rfc2629.postamble.attlist "INCLUDE">
<![%rfc2629.postamble.attlist;[
<!ATTLIST %rfc2629.postamble.qname;
	%rfc2629.common.attrib;>
<!-- end of rfc2629.postamble.attlist -->]]>

<!-- artwork: Contains "ASCII artwork" ................. -->

<!ENTITY % rfc2629.artwork.element "INCLUDE">
<![%rfc2629.artwork.element;[
<!ENTITY % rfc2629.artwork.content "(%rfc2629.TEXT.datatype;)*">
<!ENTITY % rfc2629.artwork.qname "artwork">
<!ENTITY % rfc2629.artwork.tagmin.start "-">
<!ENTITY % rfc2629.artwork.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % rfc2629.artwork.tagmin "%rfc2629.artwork.tagmin.start; %rfc2629.artwork.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % rfc2629.artwork.tagmin "">
<!ELEMENT %rfc2629.artwork.qname; %rfc2629.artwork.tagmin; %rfc2629.artwork.content;>
<!-- end of rfc2629.artwork.element -->]]>

<!ENTITY % rfc2629.artwork.attlist "INCLUDE">
<![%rfc2629.artwork.attlist;[
<!ATTLIST %rfc2629.artwork.qname;
	xml:space	(default|preserve)	"preserve"
	%rfc2629.common.attrib;>
<!-- end of rfc2629.artwork.attlist -->]]>


<!-- end of rfc2629-figure.mod -->
