dtd/module/rfc2629ja-link.mod

<!-- ...................................................................... -->
<!-- Japanese Translation Markup Framework for RFC 2629 Markups
             Hyperlink Module ............................................. -->
<!-- file: rfc2629ja-link.mod
     
     This is an additional markup vocabulary to support RFC translations.
     
     Copyright 2010 Wakaba <w@suika.fam.cx>, All Rights Reserved.
     
     Permission to use, copy, modify and distribute this DTD and its
     accompanying documentation for any purpose and without fee is hereby
     granted in perpetuity, provided that the above copyright notice and
     this paragraph appear in all copies.  The copyright holders make no
     representation about the suitability of the DTD for any purpose.
     
     It is provided "as is" without expressed or implied warranty.
     
     Revision: 2010-06-20T04:43:53+00:00 (Generated by mkdtds/1.7)
     
     This DTD module is identified by the SYSTEM identifier:
     
       SYSTEM "http://suika.fam.cx/gate/cvs/*checkout*/markup/rfc/dtd/module/rfc2629ja-link.mod"
     
     ...................................................................... -->

<!-- Hyperlink

       definition, link, mail, uri-ref, word
-->

<!-- link .............................................. -->

<!ENTITY % rfc2629ja.link.element "INCLUDE">
<![%rfc2629ja.link.element;[
<!ENTITY % rfc2629ja.link.content "%rfc2629ja.CONREF.content;">
<!ENTITY % rfc2629ja.link.qname "link">
<!ENTITY % rfc2629ja.link.tagmin.start "-">
<!ENTITY % rfc2629ja.link.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % rfc2629ja.link.tagmin "%rfc2629ja.link.tagmin.start; %rfc2629ja.link.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % rfc2629ja.link.tagmin "">
<!ELEMENT %rfc2629ja.link.qname; %rfc2629ja.link.tagmin; %rfc2629ja.link.content;>
<!-- end of rfc2629ja.link.element -->]]>

<!ENTITY % rfc2629ja.link.attlist "INCLUDE">
<![%rfc2629ja.link.attlist;[
<!ATTLIST %rfc2629ja.link.qname;
	number	%rfc2629.NUMBER.datatype;	#REQUIRED
	section	%rfc2629.NUMBER.datatype;	#IMPLIED
	type	(rfc|std|bcp|fyi)	#REQUIRED
	%rfc2629ja.common.attrib;>
<!-- end of rfc2629ja.link.attlist -->]]>

<![%rfc2629ja.rfc2629.module;[
<!-- Source anchor of list item -->
<!ENTITY % rfc2629ja.t.anchor.attlist "INCLUDE">
<![%rfc2629ja.t.anchor.attlist;[
<!ATTLIST %rfc2629.t.qname;
	%rfc2629ja.anchor.attrib.qname;	ID	#IMPLIED>
<!-- end of rfc2629ja.t.anchor.attlist -->]]>

<!-- A URI Reference to the non-English version or non-English translation
     of the referred document -->
<!ENTITY % rfc2629ja.reference.target.attlist "INCLUDE">
<![%rfc2629ja.reference.target.attlist;[
<!ATTLIST %rfc2629.reference.qname;
	%rfc2629ja.target-ja.attrib.qname;	%URI.datatype;	#IMPLIED>
<!-- end of rfc2629ja.reference.target.attlist -->]]>

<!-- Original text shown as in the RFC -->
<!ENTITY % rfc2629ja.reference.text.attlist "INCLUDE">
<![%rfc2629ja.reference.text.attlist;[
<!ATTLIST %rfc2629.reference.qname;
	%rfc2629ja.text.attrib.qname;	CDATA	#IMPLIED>
<!-- end of rfc2629ja.reference.text.attlist -->]]>

<!-- end of rfc2629ja.rfc2629 -->]]>

<!-- mail: An Internet mail address .................... -->

<!ENTITY % rfc2629ja.mail.element "INCLUDE">
<![%rfc2629ja.mail.element;[
<!ENTITY % rfc2629ja.mail.content "%rfc2629ja.CONREF.content;">
<!ENTITY % rfc2629ja.mail.qname "mail">
<!ENTITY % rfc2629ja.mail.tagmin.start "-">
<!ENTITY % rfc2629ja.mail.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % rfc2629ja.mail.tagmin "%rfc2629ja.mail.tagmin.start; %rfc2629ja.mail.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % rfc2629ja.mail.tagmin "">
<!ELEMENT %rfc2629ja.mail.qname; %rfc2629ja.mail.tagmin; %rfc2629ja.mail.content;>
<!-- end of rfc2629ja.mail.element -->]]>

<!ENTITY % rfc2629ja.mail.attlist "INCLUDE">
<![%rfc2629ja.mail.attlist;[
<!ATTLIST %rfc2629ja.mail.qname;
	%rfc2629ja.common.attrib;>
<!-- end of rfc2629ja.mail.attlist -->]]>

<!-- uri-ref ........................................... -->

<!ENTITY % rfc2629ja.uri-ref.element "INCLUDE">
<![%rfc2629ja.uri-ref.element;[
<!ENTITY % rfc2629ja.uri-ref.content "(%rfc2629.TEXT.datatype;|%Inline.mix;)*">
<!ENTITY % rfc2629ja.uri-ref.qname "uri-ref">
<!ENTITY % rfc2629ja.uri-ref.tagmin.start "-">
<!ENTITY % rfc2629ja.uri-ref.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % rfc2629ja.uri-ref.tagmin "%rfc2629ja.uri-ref.tagmin.start; %rfc2629ja.uri-ref.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % rfc2629ja.uri-ref.tagmin "">
<!ELEMENT %rfc2629ja.uri-ref.qname; %rfc2629ja.uri-ref.tagmin; %rfc2629ja.uri-ref.content;>
<!-- end of rfc2629ja.uri-ref.element -->]]>

<!ENTITY % rfc2629ja.uri-ref.attlist "INCLUDE">
<![%rfc2629ja.uri-ref.attlist;[
<!ATTLIST %rfc2629ja.uri-ref.qname;
	target	%URI.datatype;	#REQUIRED
	%rfc2629ja.common.attrib;>
<!-- end of rfc2629ja.uri-ref.attlist -->]]>

<!-- definition: <ja:definition word="defined word" traslation="Teigi sareru kotoba">
     Teigi bun.
     </ja:definition>  -->

<!ENTITY % rfc2629ja.definition.element "INCLUDE">
<![%rfc2629ja.definition.element;[
<!ENTITY % rfc2629ja.definition.content "(%rfc2629.TEXT.datatype;|%Inline.mix;)*">
<!ENTITY % rfc2629ja.definition.qname "definition">
<!ENTITY % rfc2629ja.definition.tagmin.start "-">
<!ENTITY % rfc2629ja.definition.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % rfc2629ja.definition.tagmin "%rfc2629ja.definition.tagmin.start; %rfc2629ja.definition.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % rfc2629ja.definition.tagmin "">
<!ELEMENT %rfc2629ja.definition.qname; %rfc2629ja.definition.tagmin; %rfc2629ja.definition.content;>
<!-- end of rfc2629ja.definition.element -->]]>

<!ENTITY % rfc2629ja.definition.attlist "INCLUDE">
<![%rfc2629ja.definition.attlist;[
<!ATTLIST %rfc2629ja.definition.qname;
	translation	CDATA	#IMPLIED
	word	CDATA	#REQUIRED
	%rfc2629ja.common.attrib;>
<!-- end of rfc2629ja.definition.attlist -->]]>

<!-- word: Reference to the definition ................. -->

<!ENTITY % rfc2629ja.word.element "INCLUDE">
<![%rfc2629ja.word.element;[
<!ENTITY % rfc2629ja.word.content "(%rfc2629.TEXT.datatype;|%Inline.mix;)*">
<!ENTITY % rfc2629ja.word.qname "word">
<!ENTITY % rfc2629ja.word.tagmin.start "-">
<!ENTITY % rfc2629ja.word.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % rfc2629ja.word.tagmin "%rfc2629ja.word.tagmin.start; %rfc2629ja.word.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % rfc2629ja.word.tagmin "">
<!ELEMENT %rfc2629ja.word.qname; %rfc2629ja.word.tagmin; %rfc2629ja.word.content;>
<!-- end of rfc2629ja.word.element -->]]>

<!ENTITY % rfc2629ja.word.attlist "INCLUDE">
<![%rfc2629ja.word.attlist;[
<!ATTLIST %rfc2629ja.word.qname;
	name	CDATA	#REQUIRED
	%rfc2629ja.common.attrib;>
<!-- end of rfc2629ja.word.attlist -->]]>


<!-- end of rfc2629ja-link.mod -->
