dtd/module/rfc2629-metainfo.mod

<!-- ...................................................................... -->
<!-- Markup Language for IETF RFCs (RFC 2629) Metainformational Module .... -->
<!-- file: rfc2629-metainfo.mod
     
     This is a XML based markup language for IETF RFC documents.
     
     Copyright 2010 Wakaba <w@suika.fam.cx>, All Rights Reserved.
     
     Permission to use, copy, modify and distribute this DTD and its
     accompanying documentation for any purpose and without fee is hereby
     granted in perpetuity, provided that the above copyright notice and
     this paragraph appear in all copies.  The copyright holders make no
     representation about the suitability of the DTD for any purpose.
     
     It is provided "as is" without expressed or implied warranty.
     
     Revision: 2010-06-20T04:43:53+00:00 (Generated by mkdtds/1.7)
     
     This DTD module is identified by the SYSTEM identifier:
     
       SYSTEM "http://suika.fam.cx/gate/cvs/*checkout*/markup/rfc/dtd/2629/rfc2629-metainfo.mod"
     
     ...................................................................... -->

<!-- Metainformational

       address, area, author, city, code, country, date, email, facsimile, keyword, organization, phone, postal, region, seriesInfo, street, title, uri, workgroup

     This module provides markup to describe information about document or person.
-->

<!-- title: The title of the document
     
     abbrev should also be provided if the title is more than 42 characters  -->

<!ENTITY % rfc2629.title.element "INCLUDE">
<![%rfc2629.title.element;[
<!ENTITY % rfc2629.title.content "%rfc2629.metaterm.content;">
<!ENTITY % rfc2629.title.qname "title">
<!ENTITY % rfc2629.title.tagmin.start "-">
<!ENTITY % rfc2629.title.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % rfc2629.title.tagmin "%rfc2629.title.tagmin.start; %rfc2629.title.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % rfc2629.title.tagmin "">
<!ELEMENT %rfc2629.title.qname; %rfc2629.title.tagmin; %rfc2629.title.content;>
<!-- end of rfc2629.title.element -->]]>

<!ENTITY % rfc2629.title.attlist "INCLUDE">
<![%rfc2629.title.attlist;[
<!ATTLIST %rfc2629.title.qname;
	%rfc2629.abbrev.attrib;
	%rfc2629.common.attrib;>
<!-- end of rfc2629.title.attlist -->]]>

<!-- author: A document author
     
     Attributes initials, surname and fullname must be present 
     if the author is a person  -->

<!ENTITY % rfc2629.author.element "INCLUDE">
<![%rfc2629.author.element;[
<!ENTITY % rfc2629.author.content "(%rfc2629.organization.qname;,%rfc2629.address.qname;?)">
<!ENTITY % rfc2629.author.qname "author">
<!ENTITY % rfc2629.author.tagmin.start "-">
<!ENTITY % rfc2629.author.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % rfc2629.author.tagmin "%rfc2629.author.tagmin.start; %rfc2629.author.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % rfc2629.author.tagmin "">
<!ELEMENT %rfc2629.author.qname; %rfc2629.author.tagmin; %rfc2629.author.content;>
<!-- end of rfc2629.author.element -->]]>

<!ENTITY % rfc2629.author.attlist "INCLUDE">
<![%rfc2629.author.attlist;[
<!ATTLIST %rfc2629.author.qname;
	initials	%rfc2629.ATEXT.datatype;	#IMPLIED
	surname	%rfc2629.ATEXT.datatype;	#IMPLIED
	fullname	%rfc2629.ATEXT.datatype;	#IMPLIED
	%rfc2629.common.attrib;>
<!-- end of rfc2629.author.attlist -->]]>

<!-- organization ...................................... -->

<!ENTITY % rfc2629.organization.element "INCLUDE">
<![%rfc2629.organization.element;[
<!ENTITY % rfc2629.organization.content "%rfc2629.metaterm.content;">
<!ENTITY % rfc2629.organization.qname "organization">
<!ENTITY % rfc2629.organization.tagmin.start "-">
<!ENTITY % rfc2629.organization.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % rfc2629.organization.tagmin "%rfc2629.organization.tagmin.start; %rfc2629.organization.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % rfc2629.organization.tagmin "">
<!ELEMENT %rfc2629.organization.qname; %rfc2629.organization.tagmin; %rfc2629.organization.content;>
<!-- end of rfc2629.organization.element -->]]>

<!ENTITY % rfc2629.organization.attlist "INCLUDE">
<![%rfc2629.organization.attlist;[
<!ATTLIST %rfc2629.organization.qname;
	%rfc2629.abbrev.attrib;
	%rfc2629.common.attrib;>
<!-- end of rfc2629.organization.attlist -->]]>

<!-- address ........................................... -->

<!ENTITY % rfc2629.address.element "INCLUDE">
<![%rfc2629.address.element;[
<!ENTITY % rfc2629.address.content "(%rfc2629.postal.qname;?,%rfc2629.phone.qname;?,%rfc2629.facsimile.qname;?,%rfc2629.email.qname;?,%rfc2629.uri.qname;?)">
<!ENTITY % rfc2629.address.qname "address">
<!ENTITY % rfc2629.address.tagmin.start "-">
<!ENTITY % rfc2629.address.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % rfc2629.address.tagmin "%rfc2629.address.tagmin.start; %rfc2629.address.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % rfc2629.address.tagmin "">
<!ELEMENT %rfc2629.address.qname; %rfc2629.address.tagmin; %rfc2629.address.content;>
<!-- end of rfc2629.address.element -->]]>

<!ENTITY % rfc2629.address.attlist "INCLUDE">
<![%rfc2629.address.attlist;[
<!ATTLIST %rfc2629.address.qname;
	%rfc2629.common.attrib;>
<!-- end of rfc2629.address.attlist -->]]>

<!-- postal: At most one of each the city, region, code, and country
     elements may be present  -->

<!ENTITY % rfc2629.postal.element "INCLUDE">
<![%rfc2629.postal.element;[
<!ENTITY % rfc2629.postal.content "(%rfc2629.street.qname;+,(%rfc2629.city.qname;|%rfc2629.region.qname;|%rfc2629.code.qname;|%rfc2629.country.qname;)*)">
<!ENTITY % rfc2629.postal.qname "postal">
<!ENTITY % rfc2629.postal.tagmin.start "-">
<!ENTITY % rfc2629.postal.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % rfc2629.postal.tagmin "%rfc2629.postal.tagmin.start; %rfc2629.postal.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % rfc2629.postal.tagmin "">
<!ELEMENT %rfc2629.postal.qname; %rfc2629.postal.tagmin; %rfc2629.postal.content;>
<!-- end of rfc2629.postal.element -->]]>

<!ENTITY % rfc2629.postal.attlist "INCLUDE">
<![%rfc2629.postal.attlist;[
<!ATTLIST %rfc2629.postal.qname;
	%rfc2629.common.attrib;>
<!-- end of rfc2629.postal.attlist -->]]>

<!-- street ............................................ -->

<!ENTITY % rfc2629.street.element "INCLUDE">
<![%rfc2629.street.element;[
<!ENTITY % rfc2629.street.content "%rfc2629.metaterm.content;">
<!ENTITY % rfc2629.street.qname "street">
<!ENTITY % rfc2629.street.tagmin.start "-">
<!ENTITY % rfc2629.street.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % rfc2629.street.tagmin "%rfc2629.street.tagmin.start; %rfc2629.street.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % rfc2629.street.tagmin "">
<!ELEMENT %rfc2629.street.qname; %rfc2629.street.tagmin; %rfc2629.street.content;>
<!-- end of rfc2629.street.element -->]]>

<!ENTITY % rfc2629.street.attlist "INCLUDE">
<![%rfc2629.street.attlist;[
<!ATTLIST %rfc2629.street.qname;
	%rfc2629.common.attrib;>
<!-- end of rfc2629.street.attlist -->]]>

<!-- city .............................................. -->

<!ENTITY % rfc2629.city.element "INCLUDE">
<![%rfc2629.city.element;[
<!ENTITY % rfc2629.city.content "%rfc2629.metaterm.content;">
<!ENTITY % rfc2629.city.qname "city">
<!ENTITY % rfc2629.city.tagmin.start "-">
<!ENTITY % rfc2629.city.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % rfc2629.city.tagmin "%rfc2629.city.tagmin.start; %rfc2629.city.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % rfc2629.city.tagmin "">
<!ELEMENT %rfc2629.city.qname; %rfc2629.city.tagmin; %rfc2629.city.content;>
<!-- end of rfc2629.city.element -->]]>

<!ENTITY % rfc2629.city.attlist "INCLUDE">
<![%rfc2629.city.attlist;[
<!ATTLIST %rfc2629.city.qname;
	%rfc2629.common.attrib;>
<!-- end of rfc2629.city.attlist -->]]>

<!-- region: State or province ......................... -->

<!ENTITY % rfc2629.region.element "INCLUDE">
<![%rfc2629.region.element;[
<!ENTITY % rfc2629.region.content "%rfc2629.metaterm.content;">
<!ENTITY % rfc2629.region.qname "region">
<!ENTITY % rfc2629.region.tagmin.start "-">
<!ENTITY % rfc2629.region.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % rfc2629.region.tagmin "%rfc2629.region.tagmin.start; %rfc2629.region.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % rfc2629.region.tagmin "">
<!ELEMENT %rfc2629.region.qname; %rfc2629.region.tagmin; %rfc2629.region.content;>
<!-- end of rfc2629.region.element -->]]>

<!ENTITY % rfc2629.region.attlist "INCLUDE">
<![%rfc2629.region.attlist;[
<!ATTLIST %rfc2629.region.qname;
	%rfc2629.common.attrib;>
<!-- end of rfc2629.region.attlist -->]]>

<!-- code: Zipcode or postal code ...................... -->

<!ENTITY % rfc2629.code.element "INCLUDE">
<![%rfc2629.code.element;[
<!ENTITY % rfc2629.code.content "%rfc2629.metaterm.content;">
<!ENTITY % rfc2629.code.qname "code">
<!ENTITY % rfc2629.code.tagmin.start "-">
<!ENTITY % rfc2629.code.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % rfc2629.code.tagmin "%rfc2629.code.tagmin.start; %rfc2629.code.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % rfc2629.code.tagmin "">
<!ELEMENT %rfc2629.code.qname; %rfc2629.code.tagmin; %rfc2629.code.content;>
<!-- end of rfc2629.code.element -->]]>

<!ENTITY % rfc2629.code.attlist "INCLUDE">
<![%rfc2629.code.attlist;[
<!ATTLIST %rfc2629.code.qname;
	%rfc2629.common.attrib;>
<!-- end of rfc2629.code.attlist -->]]>

<!-- country: The value should be a two-letter code from ISO 3166  -->

<!ENTITY % rfc2629.country.element "INCLUDE">
<![%rfc2629.country.element;[
<!ENTITY % rfc2629.country.content "(%rfc2629.country.datatype;)">
<!ENTITY % rfc2629.country.qname "country">
<!ENTITY % rfc2629.country.tagmin.start "-">
<!ENTITY % rfc2629.country.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % rfc2629.country.tagmin "%rfc2629.country.tagmin.start; %rfc2629.country.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % rfc2629.country.tagmin "">
<!ELEMENT %rfc2629.country.qname; %rfc2629.country.tagmin; %rfc2629.country.content;>
<!-- end of rfc2629.country.element -->]]>

<!ENTITY % rfc2629.country.attlist "INCLUDE">
<![%rfc2629.country.attlist;[
<!ATTLIST %rfc2629.country.qname;
	%rfc2629.common.attrib;>
<!-- end of rfc2629.country.attlist -->]]>

<!-- phone ............................................. -->

<!ENTITY % rfc2629.phone.element "INCLUDE">
<![%rfc2629.phone.element;[
<!ENTITY % rfc2629.phone.content "%rfc2629.metaterm.content;">
<!ENTITY % rfc2629.phone.qname "phone">
<!ENTITY % rfc2629.phone.tagmin.start "-">
<!ENTITY % rfc2629.phone.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % rfc2629.phone.tagmin "%rfc2629.phone.tagmin.start; %rfc2629.phone.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % rfc2629.phone.tagmin "">
<!ELEMENT %rfc2629.phone.qname; %rfc2629.phone.tagmin; %rfc2629.phone.content;>
<!-- end of rfc2629.phone.element -->]]>

<!ENTITY % rfc2629.phone.attlist "INCLUDE">
<![%rfc2629.phone.attlist;[
<!ATTLIST %rfc2629.phone.qname;
	%rfc2629.common.attrib;>
<!-- end of rfc2629.phone.attlist -->]]>

<!-- facsimile ......................................... -->

<!ENTITY % rfc2629.facsimile.element "INCLUDE">
<![%rfc2629.facsimile.element;[
<!ENTITY % rfc2629.facsimile.content "%rfc2629.metaterm.content;">
<!ENTITY % rfc2629.facsimile.qname "facsimile">
<!ENTITY % rfc2629.facsimile.tagmin.start "-">
<!ENTITY % rfc2629.facsimile.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % rfc2629.facsimile.tagmin "%rfc2629.facsimile.tagmin.start; %rfc2629.facsimile.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % rfc2629.facsimile.tagmin "">
<!ELEMENT %rfc2629.facsimile.qname; %rfc2629.facsimile.tagmin; %rfc2629.facsimile.content;>
<!-- end of rfc2629.facsimile.element -->]]>

<!ENTITY % rfc2629.facsimile.attlist "INCLUDE">
<![%rfc2629.facsimile.attlist;[
<!ATTLIST %rfc2629.facsimile.qname;
	%rfc2629.common.attrib;>
<!-- end of rfc2629.facsimile.attlist -->]]>

<!-- email ............................................. -->

<!ENTITY % rfc2629.email.element "INCLUDE">
<![%rfc2629.email.element;[
<!ENTITY % rfc2629.email.content "%rfc2629.metaterm.content;">
<!ENTITY % rfc2629.email.qname "email">
<!ENTITY % rfc2629.email.tagmin.start "-">
<!ENTITY % rfc2629.email.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % rfc2629.email.tagmin "%rfc2629.email.tagmin.start; %rfc2629.email.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % rfc2629.email.tagmin "">
<!ELEMENT %rfc2629.email.qname; %rfc2629.email.tagmin; %rfc2629.email.content;>
<!-- end of rfc2629.email.element -->]]>

<!ENTITY % rfc2629.email.attlist "INCLUDE">
<![%rfc2629.email.attlist;[
<!ATTLIST %rfc2629.email.qname;
	%rfc2629.common.attrib;>
<!-- end of rfc2629.email.attlist -->]]>

<!-- uri ............................................... -->

<!ENTITY % rfc2629.uri.element "INCLUDE">
<![%rfc2629.uri.element;[
<!ENTITY % rfc2629.uri.content "%rfc2629.metaterm.content;">
<!ENTITY % rfc2629.uri.qname "uri">
<!ENTITY % rfc2629.uri.tagmin.start "-">
<!ENTITY % rfc2629.uri.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % rfc2629.uri.tagmin "%rfc2629.uri.tagmin.start; %rfc2629.uri.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % rfc2629.uri.tagmin "">
<!ELEMENT %rfc2629.uri.qname; %rfc2629.uri.tagmin; %rfc2629.uri.content;>
<!-- end of rfc2629.uri.element -->]]>

<!ENTITY % rfc2629.uri.attlist "INCLUDE">
<![%rfc2629.uri.attlist;[
<!ATTLIST %rfc2629.uri.qname;
	%rfc2629.common.attrib;>
<!-- end of rfc2629.uri.attlist -->]]>

<!-- date: The publication date of the document ........ -->

<!ENTITY % rfc2629.date.element "INCLUDE">
<![%rfc2629.date.element;[
<!ENTITY % rfc2629.date.content "EMPTY">
<!ENTITY % rfc2629.date.qname "date">
<!ENTITY % rfc2629.date.tagmin.start "-">
<!ENTITY % rfc2629.date.tagmin.end "o">
<![%sgml.tag.minimizable;[
<!ENTITY % rfc2629.date.tagmin "%rfc2629.date.tagmin.start; %rfc2629.date.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % rfc2629.date.tagmin "">
<!ELEMENT %rfc2629.date.qname; %rfc2629.date.tagmin; %rfc2629.date.content;>
<!-- end of rfc2629.date.element -->]]>

<!ENTITY % rfc2629.date.attlist "INCLUDE">
<![%rfc2629.date.attlist;[
<!ATTLIST %rfc2629.date.qname;
	day	%rfc2629.DAY.datatype;	#IMPLIED
	month	%rfc2629.MONTH.datatype;	#REQUIRED
	year	%rfc2629.YEAR.datatype;	#REQUIRED
	%rfc2629.common.attrib;>
<!-- end of rfc2629.date.attlist -->]]>

<!-- area: A general category for the document (e.g., one of "Applications",
     "General", "Internet", "Management", "Operations", "Routing",
     "Security", "Transport", or "User")  -->

<!ENTITY % rfc2629.area.element "INCLUDE">
<![%rfc2629.area.element;[
<!ENTITY % rfc2629.area.content "%rfc2629.metaterm.content;">
<!ENTITY % rfc2629.area.qname "area">
<!ENTITY % rfc2629.area.tagmin.start "-">
<!ENTITY % rfc2629.area.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % rfc2629.area.tagmin "%rfc2629.area.tagmin.start; %rfc2629.area.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % rfc2629.area.tagmin "">
<!ELEMENT %rfc2629.area.qname; %rfc2629.area.tagmin; %rfc2629.area.content;>
<!-- end of rfc2629.area.element -->]]>

<!ENTITY % rfc2629.area.attlist "INCLUDE">
<![%rfc2629.area.attlist;[
<!ATTLIST %rfc2629.area.qname;
	%rfc2629.common.attrib;>
<!-- end of rfc2629.area.attlist -->]]>

<!-- workgroup: The IETF working groups that produced the document  -->

<!ENTITY % rfc2629.workgroup.element "INCLUDE">
<![%rfc2629.workgroup.element;[
<!ENTITY % rfc2629.workgroup.content "%rfc2629.metaterm.content;">
<!ENTITY % rfc2629.workgroup.qname "workgroup">
<!ENTITY % rfc2629.workgroup.tagmin.start "-">
<!ENTITY % rfc2629.workgroup.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % rfc2629.workgroup.tagmin "%rfc2629.workgroup.tagmin.start; %rfc2629.workgroup.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % rfc2629.workgroup.tagmin "">
<!ELEMENT %rfc2629.workgroup.qname; %rfc2629.workgroup.tagmin; %rfc2629.workgroup.content;>
<!-- end of rfc2629.workgroup.element -->]]>

<!ENTITY % rfc2629.workgroup.attlist "INCLUDE">
<![%rfc2629.workgroup.attlist;[
<!ATTLIST %rfc2629.workgroup.qname;
	%rfc2629.common.attrib;>
<!-- end of rfc2629.workgroup.attlist -->]]>

<!-- keyword: Useful search terms ...................... -->

<!ENTITY % rfc2629.keyword.element "INCLUDE">
<![%rfc2629.keyword.element;[
<!ENTITY % rfc2629.keyword.content "%rfc2629.metaterm.content;">
<!ENTITY % rfc2629.keyword.qname "keyword">
<!ENTITY % rfc2629.keyword.tagmin.start "-">
<!ENTITY % rfc2629.keyword.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % rfc2629.keyword.tagmin "%rfc2629.keyword.tagmin.start; %rfc2629.keyword.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % rfc2629.keyword.tagmin "">
<!ELEMENT %rfc2629.keyword.qname; %rfc2629.keyword.tagmin; %rfc2629.keyword.content;>
<!-- end of rfc2629.keyword.element -->]]>

<!ENTITY % rfc2629.keyword.attlist "INCLUDE">
<![%rfc2629.keyword.attlist;[
<!ATTLIST %rfc2629.keyword.qname;
	%rfc2629.common.attrib;>
<!-- end of rfc2629.keyword.attlist -->]]>

<!-- seriesInfo ........................................ -->

<!ENTITY % rfc2629.seriesInfo.element "INCLUDE">
<![%rfc2629.seriesInfo.element;[
<!ENTITY % rfc2629.seriesInfo.content "EMPTY">
<!ENTITY % rfc2629.seriesInfo.qname "seriesInfo">
<!ENTITY % rfc2629.seriesInfo.tagmin.start "-">
<!ENTITY % rfc2629.seriesInfo.tagmin.end "o">
<![%sgml.tag.minimizable;[
<!ENTITY % rfc2629.seriesInfo.tagmin "%rfc2629.seriesInfo.tagmin.start; %rfc2629.seriesInfo.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % rfc2629.seriesInfo.tagmin "">
<!ELEMENT %rfc2629.seriesInfo.qname; %rfc2629.seriesInfo.tagmin; %rfc2629.seriesInfo.content;>
<!-- end of rfc2629.seriesInfo.element -->]]>

<!ENTITY % rfc2629.seriesInfo.attlist "INCLUDE">
<![%rfc2629.seriesInfo.attlist;[
<!ATTLIST %rfc2629.seriesInfo.qname;
	name	%rfc2629.series-name.datatype;	#REQUIRED
	value	%rfc2629.ATEXT.datatype;	#REQUIRED
	%rfc2629.common.attrib;>
<!-- end of rfc2629.seriesInfo.attlist -->]]>


<!-- end of rfc2629-metainfo.mod -->
